my_med/.vscode/settings.json
my_med/windows/flutter/generated_plugins.cmake
my_med/coverage/lcov.info
my_med/windows/flutter/generated_plugins.cmake
my_med/windows/flutter/generated_plugin_registrant.cc
